dentalsoftware_frontend/node_modules/
dentalsoftware_backend/node_modules/
*/node_modules/
dentalsoftware_frontend/package-lock.json
dentalsoftware_frontend/package-lock.json
dentalsoftware_frontend/package.json
dentalsoftware_frontend/package.json
dentalsoftware_frontend/package-lock.json
*.DS_Store
dentalsoftware_frontend/deploy
dentalsoftware_backend/package-lock.json
dentalsoftware_frontend/src/components/setting.tsx
dentalsoftware_frontend/src/components/homepage.tsx
dentalsoftware_frontend/src/app.tsx
package-lock.json
dentalsoftware_frontend/src/app.tsx
dentalsoftware_frontend/src/components/homepage.tsx
dentalsoftware_frontend/src/components/setting.tsx
dentalsoftware_backend/env
