body{
  background-color: #fa0303;
  margin: 0;
}

.bodyContainer{
  background-color: rgb(10, 193, 239);
  display: flex;
}

.bottomContainer{
  background-color: rgb(239, 109, 10);
  margin-left: 12.5%;
  margin-right: 27.5%;
  display: flex;
  align-items: center;
}

.buttonContainer{
  background-color:  rgb(10, 239, 25);
  margin-left: 9%;
  margin-top: 2%;
}