body{
  background-color: #D9D9D9;
}

.bodyContainer{
  display: flex;
}

.bottomContainer{

  margin-left: 12.5%;
  display: flex;

  align-items: center;
}

.buttonContainer{
  margin-left: 9%;
  margin-top: 2%;
}