body{
  margin: 0;
}

.bodyContainer{
  min-height: 10%;
  max-height: 10%;

  display: flex;
}

.bottomContainer{
 
  min-height: 30%;
  display: flex;
  align-items: center;
}

.buttonContainer{
  background-color:  rgb(10, 239, 25);
  margin-left: 9%;
  margin-top: 2%;
}

.menu-bar{
  display: flex;
  flex-direction: column;
  height: 50px;
  border-radius: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}