@import url('https://fonts.googleapis.com/css2?family=Lato');

body {
  margin: 0;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  background-color: #378cbe;
  border: none;
  border-radius: 3px;
  color: white;
  caret-color: transparent;
}

p {
  caret-color: transparent;
}

a {
  caret-color: transparent;
}

label {
  caret-color: transparent;
}