.GridLayout {
    display: grid;
    height: 98vh;
    width: 98vw;
    padding: 2%;
    /*98 vh plus the 2% padding makes it fit the view like 100% but keeps components away from edges. */
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    pointer-events: none;
    position: absolute;
    gap: 2px;
}

.CancelButtonContainer {
    grid-row: 18;
    grid-column: 16;
    pointer-events: auto;
}

.CancelButton {
    width: 80px;
    height: 30px;
    font-size: 20px;

    background-color: #efefef;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.2);
}