.GridLayout {
    display: grid;
    height: 98vh;
    width: 98vw;
    padding: 2%;
    /*98 vh plus the 2% padding makes it fit the view like 100% but keeps components away from edges. */
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    /*background-color: #FAF9F6;
    Opacity: 0.6;*/
    /*Background requires rgba values to control the background opacity
    (each component has it's own layout layer.)*/
    pointer-events: none;
    position: absolute;
    gap: 2px;
}

.CancelButtonContainer {
    grid-row: 18;
    grid-column: 16;
    pointer-events: auto;
}

.CancelButton {
    width: 80px;
    height: 30px;
    font-size: 20px;

    background-color: #efefef;
    border-radius: 5px;
    border-width: 1px;
}