

.cancel-button {
    width: 80px;
    height: 30px;
    font-size: 20px;
    background-color: #FF621F;

    border-radius: 5px;
    border-width: 1px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.2);
}