

.menu-container {
    width: 2%;
    height: 2%;
    display: flex;
    flex-direction: column;
    margin-left: 2.6%;
    margin-top: 2%;
}

.menu-container img{
    width: 100%;
    height: auto;
}