.nhi-search-container {
    background-color: rgb(10, 193, 239);
    display: flex;
    height: 50px;
    flex-direction: row;
    border-radius: 10px;
    width: 100%;
    justify-content: flex-end;
}

.nhi-search {
    display: flex;
    align-items: center;
    width: 700px;
}

.nhi-search input {
    border-radius: 5px;
    margin-right: 1%;
}

.nhi-search button {
border-radius: 5px;
margin-right: 1%;
}