.nhi-search-container {
    background-color: rgb(98, 218, 248);
    display: flex;
    height: 50px;
    flex-direction: row;
    border-radius: 10px;
    width: 100%;
    justify-content: flex-end;
}

.nhi-search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nhi-search input {
    border-radius: 5px;
    margin-right: 1%;
}

.nhi-search button {
    height: 100%;
border-radius: 5px;
margin-right: 1%;
background-color: transparent; 
border: none;
box-shadow: none;
transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.nhi-search button:hover {
    background-color: #cecece;
}