.nhi-search-container {
    background-color: #4b97c4;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nhi-search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nhi-search input {
    border-radius: 5px;
    margin-right: 1%;
}

.nhi-search button {
height: 100%;
border-radius: 5px;
margin-right: 1%;
background-color: transparent; 
border: none;
box-shadow: none;
transition: background-color 0.3s ease;
color: white;


}

.nhi-search button:hover {
    background-color: #3e7291;
}