.GridLayout {
    display: grid;
    height: 98vh;
    width: 98vw;
    padding: 2%;
    /*98 vh plus the 2% padding makes it fit the view like 100% but keeps components away from edges. */
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    pointer-events: none;
    position:absolute;
    gap: 2px;
}

.NotesFieldContainer {
    grid-row: 3 / 15;
    grid-column: 16/20;
    background-color: #FFFFFF;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	border-radius: 10px; 
    display: '';
    pointer-events: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.2);
}

.NotesField {
    -ms-flex-item-align: center;
    -ms-flex-align: center;
    padding-bottom: 45%;
}

.form {
    height: 50%;
    border: yellow;
}

.Notes {
    width: 98%;
    border: none;
    height: 150%;
    text-align: left;
}

.HistoryButton {
    vertical-align: baseline;
    margin: 1%;
    background-color: #efefef;
    border-radius: 5px;
    border-width: 1px;
}

.TodoButton {
    vertical-align: baseline;
    margin: 1%;
    background-color: #efefef;
    border-radius: 5px;
    border-width: 1px;
}
