.patient-info-container {
    margin-top: 1%;
    top: 0%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 28vh;
}
    
.patient-info-container h3{
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-top: 1%;
}

.info-field {
    width: 98%;
    padding: 1%;
    font-size: medium;
    border: none;
    text-align: left;
    line-height: 1.6;
    overflow: auto;
}