.grid-layout {
    display: grid;
    height: 96vh;
    width: 96vw;
    padding: 2%;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    pointer-events: none;
    position: absolute;
    gap: 2px;
}

.patient-warning-container {
    grid-row: 2/4;
    grid-column: 3/15;
    background-color: #ff0000;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
    pointer-events: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.2);
}

.warnings {
    width: 98%;
    border: none;
    height: 100%;
    background: red;
}