.patient-info-container {
    margin-top: 2.5%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 68.5%;
    height: 300px;
}
    
.patient-info-container h3{
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 0px;
}

.info-field {
    width: 98%;
    padding: 1%;
    font-size: medium;
    border: none;
    text-align: left;
    line-height: 2;
    overflow: auto;
}

@media screen and (max-height: 950px) {
    .patient-info-container {
        height: 250px;
    }
}
@media screen and (max-height: 900px) {
    .patient-info-container {
        height: 220px;
    }
    .info-field {
        font-size: medium;
        line-height: 1.6;
    }
}
@media screen and (max-height: 800px) {
    .patient-info-container {
        height: 180px;
    }
}
@media screen and (max-height: 700px) {
    .patient-info-container {
        height: 170px;
    }
    .info-field {
        font-size: small;
        line-height: 1.6;
    }
}