.plan-switch-container {
    display: flex;
    width: 100vh;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; 
    margin-right: 140vh;
    margin-left: 1vh;
    flex: 1;
}

.plan-switch-container button {
    width: 80%;
    height: 100%;
    border: none; 
    background-color: transparent; 
    border-radius: 5px;
    box-shadow: none;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
    color: white;
}

.plan-switch-container button:hover {
    background-color: #3e7291;
}

