.GridLayout {
    display: grid;
    height: 98vh;
    width: 98vw;
    padding: 2%;
    /*98 vh plus the 2% padding makes it fit the view like 100% but keeps components away from edges. */
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    pointer-events: none;
    position:absolute;
    gap: 2px;
}