.SealOption-Container {
    margin-top: 5vh;
    margin-left: 2vw;
    width: 20vw;
    height: 50vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.5), -1px 1px 2px rgba(0, 0, 0, 0.5) inset;
    border-radius: 10px;
    padding: 1%;
    
}

.SealOption-Container a {
    margin-top: 2vh;
    font-size: 30px;
    font-weight: bold;
    
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Center align items horizontally */
    align-content: center;
    /* Center align items vertically */
    height: 90%;
    width: 95%;

}

/* Adjust the general button styles for the new layout */
.options button {
    box-shadow: 3px 3px 5px #4d4c4c;
}

/* Override the middle three button styles to fit 3 in a row */
.options button:nth-child(1) {
    height: 10%;
    width: 90%;
}

.options button:nth-child(2) {
    width: 20%;
    height: 30%;
}

.options button:nth-child(3) {
    width: 50%;
    height: 30%;
}

.options button:nth-child(4) {
    width: 20%;
    height: 30%;
    /* This ensures three buttons fit in the row minus their margins */
}

.options button:nth-child(5) {
    height: 10%;
    width: 90%;
}

.options button:hover {
    background: #3e7291;
}

.button-active {
    background-color: #00ffd0;
    color: #000;
    font-weight: bold;
}


.options .addToList {
    margin-top: 10vh;
    width: 90%;
    height: 10%;
    margin: 3%;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #4d4c4c;
    background-color: #7A97FF;
}

.options .addToList:hover {
    background-color: #3e7291;
}